@model PagerList<Pagination.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Pagination </h2>





<table class="table">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Enrollment Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
        </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.ShowPrevious ? "disabled" : "";
    var nextDisabled = !Model.ShowNext ? "disabled" : "";
}

<ul class="pagination">
    @if (Model.ShowPrevious)
    {
        <li class="page-item">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.CurrentPage - 1)"
               class="page-link float-left @prevDisabled">
                Previous
            </a>
        </li>
    }

    @for (var i = 1; i <= Model.TotalPages; i++)

        {

            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">

                <a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a>

            </li>
        }
    @if (Model.ShowNext)
    {
        <li class="page-item">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.CurrentPage + 1)"
               class="page-link float-right @nextDisabled">
                Next
            </a>
        </li>
    }


</ul>